body{
	margin:0px;
	text-align: center;
	font-family: 'Merriweather', serif;
}
h1{
	margin: 50px auto 0 auto;
	font-size: 5.625rem;
	display: block;
	font-family: 'Sacramento', cursive;
	color:#66BFBF;
	line-height: 200%;
}
h2{
	font-size: 2.5rem;
	color:#66BFBF;
	font-weight: normal;
	padding-bottom: 10px;
}
a,h3{
	color:#11999E;
}
hr{
	margin:100px auto;
	border: dotted #EAF6F6 6px;
	width: 6%;
	border-bottom: none;
}
p{
    line-height: 1.5;
}
a{
	margin:20px;
}
a:hover{
	color: black;
}
.topcont{
	background-color: #EAFDFC;
	position: relative;
	padding-top: 100px;
}
.middle-container{
	padding: 100px auto 0;
}
.bottom-container{
	background-color: #EAFDFC;
	margin-bottom: 20px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}
.skill-row{
	display: inline-block;
	width: 50%;
	margin-top: 100px;
	margin-bottom: 100px;
	line-height: 1.5;
	text-align: left;
}
.computer-1{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.chillies-1{
	width: 25%;
	float: right;
    margin-left: 30px;
}
.btn {
  background: #2a97e0;
  background-image: -webkit-linear-gradient(top, #2a97e0, #1e282e);
  background-image: -moz-linear-gradient(top, #2a97e0, #1e282e);
  background-image: -ms-linear-gradient(top, #2a97e0, #1e282e);
  background-image: -o-linear-gradient(top, #2a97e0, #1e282e);
  background-image: linear-gradient(to bottom, #2a97e0, #1e282e);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  -webkit-box-shadow: 15px 8px 8px #d632d6;
  -moz-box-shadow: 15px 8px 8px #d632d6;
  box-shadow: 15px 8px 8px #d632d6;
  font-family: Georgia;
  color: #260e26;
  font-size: 20px;
  padding: 14px;
  border: solid #14181a 1px;
  text-decoration: none;
  padding-bottom:5px;
}

.btn:hover {
  background: #4b7894;
  background-image: -webkit-linear-gradient(top, #4b7894, #1c8bd6);
  background-image: -moz-linear-gradient(top, #4b7894, #1c8bd6);
  background-image: -ms-linear-gradient(top, #4b7894, #1c8bd6);
  background-image: -o-linear-gradient(top, #4b7894, #1c8bd6);
  background-image: linear-gradient(to bottom, #4b7894, #1c8bd6);
  text-decoration: none;
}

.contact-me{
	padding-bottom: 50px;
}
.profile{
	width: 30%;
	margin: auto;
}
.contact{
	margin:auto;
	width:40%;
}

